In [ ]:
# ========================================================
# Notebook: Data Cleaning & Preparation
# Project: Big Tech Financial & Workforce Analysis
# Step : 02 - Data Cleaning
# Author : Maryem Ben Massaoud
# =========================================================

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#RAW Data Loading

PROFILE_PATH = "C:/FMP-project/data/raw/company_profile_raw.csv"
EMPLOYEE_PATH = "C:/FMP-project/data/raw/employee_history_raw.csv"
MARKETCAP_PATH = "C:/FMP-project/data/raw/marketcap_raw.csv"

df_profile_raw = pd.read_csv(PROFILE_PATH)
df_employee_raw = pd.read_csv(EMPLOYEE_PATH)
df_marketcap_raw = pd.read_csv(MARKETCAP_PATH)

In [9]:
df_profile_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbol             5 non-null      object
 1   price              5 non-null      float64
 2   marketCap          5 non-null      float64
 3   beta               5 non-null      float64
 4   lastDividend       5 non-null      float64
 5   range              5 non-null      object
 6   change             5 non-null      float64
 7   changePercentage   5 non-null      float64
 8   volume             5 non-null      int64
 9   averageVolume      5 non-null      int64
 10  companyName        5 non-null      object
 11  currency           5 non-null      object
 12  cik                5 non-null      int64
 13  isin               5 non-null      object
 14  cusip              5 non-null      object
 15  exchangeFullName   5 non-null      object
 16  exchange           5 non-null      object
 17  industry           5 non-null      object
 18  website            5 non-null      object
 19  description        5 non-null      object
 20  ceo                5 non-null      object
 21  sector             5 non-null      object
 22  country            5 non-null      object
 23  fullTimeEmployees  5 non-null      int64
 24  phone              5 non-null      object
 25  address            5 non-null      object
 26  city               5 non-null      object
 27  state              5 non-null      object
 28  zip                5 non-null      object
 29  image              5 non-null      object
 30  ipoDate            5 non-null      object
 31  defaultImage       5 non-null      bool
 32  isEtf              5 non-null      bool
 33  isActivelyTrading  5 non-null      bool
 34  isAdr              5 non-null      bool
 35  isFund             5 non-null      bool
dtypes: bool(5), float64(6), int64(4), object(21)
memory usage: 1.4+ KB

In [10]:
df_employee_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symbol          109 non-null    object
 1   cik             109 non-null    int64
 2   acceptanceTime  109 non-null    object
 3   periodOfReport  109 non-null    object
 4   companyName     109 non-null    object
 5   formType        109 non-null    object
 6   filingDate      109 non-null    object
 7   employeeCount   109 non-null    int64
 8   source          109 non-null    object
dtypes: int64(2), object(7)
memory usage: 7.8+ KB

In [12]:
df_marketcap_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   symbol     5 non-null      object
 1   date       5 non-null      object
 2   marketCap  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes