In [2]:
#imports
import requests
import pandas as pd
from datetime import datetime

In [3]:
#API 1 Companies config
API_KEY = "VQvlf8GEh34n2tKWSWhl7yo36JJx0MjX"
BASE_URL = "https://financialmodelingprep.com/stable"


symbols = ["AAPL", "MSFT", "AMZN", "GOOGL", "META"]

In [4]:
#Company Profile

profiles = []

for symbol in symbols:
    url = f"{BASE_URL}/profile?symbol={symbol}&apikey={API_KEY}"
    data = requests.get(url).json()
    
    if isinstance(data, list) and len(data) > 0:
        profiles.append(data[0])

df_profiles_raw = pd.DataFrame(profiles)
df_profiles_raw

,symbol,price,marketCap,beta,lastDividend,range,change,changePercentage,volume,averageVolume,...,city,state,zip,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,AAPL,247.65,3.659364e+12,1.093,1.03,169.21-288.62,0.95,0.38508,54151253,46047281,...,Cupertino,CA,95014,https://images.financialmodelingprep.com/symbo...,1980-12-12,False,False,True,False,False
1,MSFT,444.11,3.301143e+12,1.073,3.40,344.79-555.45,-10.41,-2.29033,37424042,24331393,...,Redmond,WA,98052-6399,https://images.financialmodelingprep.com/symbo...,1986-03-13,False,False,True,False,False
2,AMZN,231.31,2.472750e+12,1.376,0.00,161.38-258.6,0.31,0.13420,46594728,44775045,...,Seattle,WA,98109-5210,https://images.financialmodelingprep.com/symbo...,1997-05-15,False,False,True,False,False
3,GOOGL,328.38,3.962769e+12,1.086,0.83,140.53-340.49,6.38,1.98137,35014518,36694673,...,Mountain View,CA,94043,https://images.financialmodelingprep.com/symbo...,2004-08-19,False,False,True,False,False
4,META,612.96,1.545018e+12,1.287,2.10,479.8-796.25,8.84,1.46329,14439157,18721865,...,Menlo Park,CA,94025,https://images.financialmodelingprep.com/symbo...,2012-05-18,False,False,True,False,False

In [5]:
#Historical Employee Count

employees_history = []

for symbol in symbols:
    url = f"{BASE_URL}/historical-employee-count?symbol={symbol}&apikey={API_KEY}"
    data = requests.get(url).json()
    
    if isinstance(data, list):
        for row in data:
            employees_history.append(row)

df_employees_raw = pd.DataFrame(employees_history)
df_employees_raw

,symbol,cik,acceptanceTime,periodOfReport,companyName,formType,filingDate,employeeCount,source
0,AAPL,0000320193,2025-10-31 06:01:26,2025-09-27,Apple Inc.,10-K,2025-10-31,166000,https://www.sec.gov/Archives/edgar/data/320193...
1,AAPL,0000320193,2024-11-01 06:01:36,2024-09-28,Apple Inc.,10-K,2024-11-01,164000,https://www.sec.gov/Archives/edgar/data/320193...
2,AAPL,0000320193,2023-11-02 18:08:27,2023-09-30,Apple Inc.,10-K,2023-11-03,161000,https://www.sec.gov/Archives/edgar/data/320193...
3,AAPL,0000320193,2022-10-27 18:01:14,2022-09-24,Apple Inc.,10-K,2022-10-28,164000,https://www.sec.gov/Archives/edgar/data/320193...
4,AAPL,0000320193,2021-10-28 18:04:28,2021-09-25,Apple Inc.,10-K,2021-10-29,154000,https://www.sec.gov/Archives/edgar/data/320193...
...,...,...,...,...,...,...,...,...,...
104,META,0001326801,2017-02-02 21:13:52,2016-12-31,"Meta Platforms, Inc.",10-K,2017-02-03,17048,https://www.sec.gov/Archives/edgar/data/132680...
105,META,0001326801,2016-01-28 16:17:07,2015-12-31,"Meta Platforms, Inc.",10-K,2016-01-28,12691,https://www.sec.gov/Archives/edgar/data/132680...
106,META,0001326801,2015-01-29 16:35:58,2014-12-31,"Meta Platforms, Inc.",10-K,2015-01-29,9199,https://www.sec.gov/Archives/edgar/data/132680...
107,META,0001326801,2014-01-31 16:10:34,2013-12-31,"Meta Platforms, Inc.",10-K,2014-01-31,6337,https://www.sec.gov/Archives/edgar/data/132680...
108,META,0001326801,2013-02-01 16:43:01,2012-12-31,"Meta Platforms, Inc.",10-K,2013-02-01,4619,https://www.sec.gov/Archives/edgar/data/132680...

In [6]:
#Market Capitalization

market_caps = []

for symbol in symbols:
    url = f"{BASE_URL}/market-capitalization?symbol={symbol}&apikey={API_KEY}"
    data = requests.get(url).json()
    
    if isinstance(data, list) and len(data) > 0:
        market_caps.append(data[0])

df_marketcap_raw = pd.DataFrame(market_caps)
df_marketcap_raw

  symbol        date     marketCap
0   AAPL  2026-01-21  3.659364e+12
1   MSFT  2026-01-21  3.301143e+12
2   AMZN  2026-01-21  2.472750e+12
3  GOOGL  2026-01-21  3.962769e+12
4   META  2026-01-21  1.545018e+12

In [7]:
#Verification

df_profiles_raw.info()
df_employees_raw.info()
df_marketcap_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbol             5 non-null      object
 1   price              5 non-null      float64
 2   marketCap          5 non-null      float64
 3   beta               5 non-null      float64
 4   lastDividend       5 non-null      float64
 5   range              5 non-null      object
 6   change             5 non-null      float64
 7   changePercentage   5 non-null      float64
 8   volume             5 non-null      int64
 9   averageVolume      5 non-null      int64
 10  companyName        5 non-null      object
 11  currency           5 non-null      object
 12  cik                5 non-null      object
 13  isin               5 non-null      object
 14  cusip              5 non-null      object
 15  exchangeFullName   5 non-null      object
 16  exchange           5 non-null      object
 17  industry           5 non-null      object
 18  website            5 non-null      object
 19  description        5 non-null      object
 20  ceo                5 non-null      object
 21  sector             5 non-null      object
 22  country            5 non-null      object
 23  fullTimeEmployees  5 non-null      object
 24  phone              5 non-null      object
 25  address            5 non-null      object
 26  city               5 non-null      object
 27  state              5 non-null      object
 28  zip                5 non-null      object
 29  image              5 non-null      object
 30  ipoDate            5 non-null      object
 31  defaultImage       5 non-null      bool
 32  isEtf              5 non-null      bool
 33  isActivelyTrading  5 non-null      bool
 34  isAdr              5 non-null      bool
 35  isFund             5 non-null      bool
dtypes: bool(5), float64(6), int64(2), object(23)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symbol          109 non-null    object
 1   cik             109 non-null    object
 2   acceptanceTime  109 non-null    object
 3   periodOfReport  109 non-null    object
 4   companyName     109 non-null    object
 5   formType        109 non-null    object
 6   filingDate      109 non-null    object
 7   employeeCount   109 non-null    int64
 8   source          109 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   symbol     5 non-null      object
 1   date       5 non-null      object
 2   marketCap  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes

In [ ]:
#Export 

import os
os.makedirs("data/raw", exist_ok=True)

df_profiles_raw.to_csv("data/raw/company_profile_raw.csv", index=False)
df_employees_raw.to_csv("data/raw/employee_history_raw.csv", index=False)
df_marketcap_raw.to_csv("data/raw/marketcap_raw.csv", index=False)

print("Data retrieval terminé – fichiers RAW exportés")

Data retrieval terminé – fichiers RAW exportés